@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";

//Sidebar
@import "sidebar";

//Header
@import "header";

//Card-custom
@import "_card-custom.scss";

//Badge-custom
@import "badge-custom.scss";

//main
.container-div{
	@include media-breakpoint-up(lg) { 
		margin-left: 10%;
		width: 90%;
	}

	.headline{
		margin-left: .9rem;
	}

	article{
		margin-top: 0.8rem;	
	}	
}

/* Corrigindo o CSS para Smartphones, podendo utilizar o media-breakpoint-up (SFC)
 */

.row{
	margin-right: 0;
	margin-left: 0;

	.coluna-menor,
	.coluna-maior{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }*/
@include media-breakpoint-up(sm) {
	.row{
			
		.coluna-menor{
			@include make-col-project(5);
		}

		.coluna-maior{
			@include make-col-project(7);
		}
	}
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
	.row{
			
		.coluna-menor{
			@include make-col-project(6);
		}

		.coluna-maior{
			@include make-col-project(6);
		}
	}	
}